
  nav{
      display: flex;
      justify-content: space-between;
align-items: center;
background-color: grey;
  }
  .nav-links{
      display: flex;
      list-style: none;
      gap: 20px;
      padding-right: 30px;
      width: 200px;
      justify-content: space-evenly;
  }
  .nav-links li a{
text-decoration: none;
color:brown;
  }

  nav img{
      width: 40px;
  }

  #aboutus{
      display: flex;
      align-items: center;
      margin: 150px 20px 150px 20px;
      padding-left: 600px;
      width: 200px;
  }
  #aboutus{
      max-width: 20%;
  }
  @media only screen and (max-width: 600px) {
      #aboutus{
        flex-direction: colmn
      }
  }
  footer{
      display: flex;
      justify-content: space-evenly;
      background-color: grey;
      color: brown
      padding: 20px;
      flex-warp: warp;      
  }
  footer ul{
      list-style: none;
  }
  @media only screen and (max-width: 600px) {
      #aboutus{
          flex-direction: column
      }
      footer{
          flex-direction: column
      }
  }
  body {
    background-color: rgb(252, 223, 223);
}
  .test1{
    border: 3px grey solid;
    padding-left: 600px;
    color: black;
}
